.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.title {
  margin: 0;
}

.title a {
  color: var(--main-blue);
  text-decoration: none;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

.loadingIndicator {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--main-blue);
  animation-name: loading;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
}
