.row:nth-child(odd) {
  background-color: #ebebeb;
}

.headCell {
  width: 100%;
  text-align: left;
  padding: 8px;
}

.bodyCell {
  padding: 12px 8px;
}

.link {
  color: var(--main-blue);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:visited {
  color: darkblue;
}

.table,
.table tr,
.table tr {
  border-collapse: collapse;
  border: none;
}

.table tbody tr {
  border-top: 1px solid lightgray;
}

.oneLine {
  white-space: nowrap;
}
